* {
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  background: var(--background-page);
  overflow-x: hidden;
}

body {
  cursor: default;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  -webkit-overflow-scrolling: touch;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

picture {
  img,
  source {
    pointer-events: none;
  }
}
